.introPage {
  background-color: #407f63;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.section1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "LocalBrewery";
  color: #ffffff;
  font-size: 48px;
  position: sticky;
  z-index: 10;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background-image: url("../assets/home_page/pixelcut-export.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  scroll-snap-align: start;
  /* scroll-snap-stop:always ; */
}
.intromainside {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 10%;
  font-family: "LocalBrewery";
}
.intromainside h1 {
  /* width: 100vw; */
  color: white;
  /* -webkit-text-stroke: 0.5px black; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -60px;
  width: 100%;
}

.droneLogo {
  height: 200px;
  position: absolute;
  top: -90%;
  left: 10%;
  /* width: 200px; */
}

@media screen and (max-width: 730px) {
  .intromainside h1 {
    flex-wrap: wrap;
    text-align: center;
  }
  .droneLogo {
    top: -80%;
    left: -15%;
  }
}

.intromainside p {
  /* width: 700px; */
  font-size: 20px;
}

.boton-elegante {
  padding: 15px 30px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
  transform: scale(4);
}

.boton-elegante:hover {
  border-color: #666666;
  background: #292929;
}

.scroll {
  position: absolute;
  bottom: 60px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondSection {
  background-color: #f5f5f5;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  scroll-snap-align: start;
  /* scroll-snap-stop:always ; */
}
.mouseani {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  z-index: 100;
  height: 100px;
}
