.fullIntroDIV {
  background-color: #f5a99c;
  margin: 0;
  padding: 0;
}

.fullIntro {
  height: 100vh;
  width: 100vw;
  position: fixed;
}
.canvas {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: #f5a99c;
}
.mainIntro {
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* top: 50px; */
  min-height: 100vh;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: xxx-large;
  color: #2b77e7;
}
.empty {
  height: 200vh;
}
