.fullIntroDIV {
  background-color: #407f63;
  margin: 0;
  padding: 0;
}
.delimg {
  position: relative;
  opacity: 0;
  transform: translateY(120px);
}

.fullIntro {
  height: 100vh;
  width: 100vw;
  position: fixed;
}
.canvas {
  height: 100vh;
  width: 100%;
  position: fixed;
  /* background: linear-gradient(#76B852,#8DC265); */
  /* background-color: rgb(32, 31, 31); */
  /* background-image: url("../assets/original_bg (1).png"); */
  background-size: cover;
}
.mainIntro {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  /* top: 50px; */
  min-height: 100vh;
}
.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  /* font-size: xxx-large; */
  /* font-weight: 700; */
  color: #ffffff;
  font-size: 48px;
  position: sticky;
  z-index: 10;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background-image: url("../assets/bgimages/cityscape_sketch-Photoroom-Photoroom.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: 60px;
}
.intromainside {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intromainside h1 {
  /* width: 100vw; */
  color: white;
  /* color: #FF4500; */
  -webkit-text-stroke: 1px black;
  position: relative;
  top: -60px;
}
.intromainside p {
  /* width: 700px; */
  font-size: 20px;
}
.iabout {
  margin-top: 50px;
  display: flex;
}
.iaboutinner {
  margin: 0px 20px;
}

.iconp {
  width: 50%;
  position: relative;
  left: 10px;
  font-size: large;
}
.IntrIcon {
  height: 70px;
}

.boton-elegante {
  padding: 15px 30px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
  transform: scale(4);
}

.boton-elegante:hover {
  border-color: #666666;
  background: #292929;
}

.secondIntro {
  position: sticky;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
}
.scroll {
  position: absolute;
  bottom: 60px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondIntro img {
  position: relative;
  top: 25px;
  height: 90vh;
  /* width: 50%; */
}
.secondText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 25px;
  height: 90vh;
  width: 50%;
  z-index: 10000;
  padding: 100px;
}
.secondText h1 {
  color: #2c3e50;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 20px;
}
.secondText h3 {
  color: #5a3d2e;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}
.secondText p {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  overflow: hidden;
}

.linksIntro {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 209, 209);
  margin-top: 20px;
}

.linksIntro::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.linksIntro:hover::before {
  width: 9em;
}
.thirdIntro {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 999;
  background-color: #ff9a8b;
  background-image: linear-gradient(
    90deg,
    #ff9a8b 0%,
    #ff6a88 55%,
    #ff99ac 100%
  );
}
.sticky {
  position: sticky;
  top: 0;
  /* width: 100%; */
  /* z-index: 2; */
}
.rightimg {
  float: right;
  width: 50vw;
}
.rightimg img {
  height: 90vh;
  position: relative;
  top: 30px;
}
.lefttext {
  height: 90vh;
  width: 50vw;
  position: relative;
  top: 25px;
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: translateX(-350px);
}
.lefttext h1 {
  margin: 10px;
  color: #ff4500;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.lefttext h2 {
  color: #333333;
  font-family: "Roboto", sans-serif;
  margin: 10px;
}
.lefttext p {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  max-width: 600px;
  margin: 10px;
}
.footer {
  height: 100vh;
  z-index: 100;
  background-color: black;
  /* background-color: #0093e9; */
  /* background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.personal {
  float: left;
  height: 50vh;
  /* width: ; */
  /* background-color: black; */
  border-radius: 66% 34% 70% 30% / 0% 30% 70% 100%;
}
.footerText {
  width: 40vw;
  color: white;
}
.reviews {
  height: 50vh;
  width: 100%;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews .rev {
  min-width: 200px;
  height: 80%;
  background-color: black;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  /* text-overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-overflow: ellipsis;
}
.rev h3 {
  color: white;
  font-size: x-large;
}
