* {
  margin: 0;
  padding: 0;
}
.outerLog {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerLog {
  width: 90%;
  height: 90vh;
  border: 1px solid;
  border-radius: 25px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cred,
.sideImage {
  width: 45%;
  height: 90%;
  border: 1px solid;
  margin: 20px;
  border-radius: 30px;
  padding: 10px;
}

.sideImage {
  background-image: url("src/assets/loginPageBG.jpg");
  background-size: cover;
  background-position: center;
}

.cred {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.input {
  position: relative;
  border: 1px solid;
  border-radius: 20px;
  width: 90%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
}
.email {
  width: 80%;
  border: none;
  background-color: #ebebeb;
}
.email:focus {
  border: none;
  outline-style: none;
  box-shadow: none;
}
.btnBox {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.loginbtn {
  width: 90%;
  height: 6vh;
  border-radius: 10px;
  font-size: x-large;
  font-weight: 700;
  background-color: black;
  color: white;
}
.btnBox :hover {
  cursor: pointer;
}
.containe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  flex: 1;
  border-top: 2px solid black;
}
.tex {
  margin: 0 10px;
}
@media (max-width: 1000px) {
  .sideImage {
    display: none;
  }
  .cred {
    width: 80%;
  }
}
.google {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gbtn {
  width: 50%;
  height: 3rem;
  border: 0.5px solid black;
  border-radius: 30px;
}
.new {
  margin-top: 10px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.err {
  color: red;
}
.outerinput {
  width: 90%;
}
