.navmain {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 1000;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-direction: row;
  color: black;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.innernav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  width: 100%;
}
.navelementsText {
  color: black;
}
.innernav-dark {
  color: white;
}
.logo {
  /* background-color: black; */
  position: relative;
  top: -1px;
  left: -1px;
  /* height: 103%; */
  width: fit-content;
  margin: 0;
  padding-right: 20px;
}
.innerNavbar {
  height: 10vh;
  width: 70%;
  /* border: 1px solid;*/
}

.navitems {
  padding: 10px;
  /* background-color: #180f2d; */
  min-height: 10vh;
  /* margin: 30px; */
}
.navelementsText,
.navitems {
  height: 20px;
  width: 30px;
  /* color: black; */
}
.hamNav {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}
.hamNavItems {
  height: 100px;
  width: 100px;
}
.hamNavItems .navelements {
  width: 50px;
  height: 50px;
  /* margin-left: 10px; */
}
@media (max-width: 400px) {
  /* .hamburger {
    display: block;
  }
  .ham {
    display: flex;
    justify-content: start;
    margin: 10px;
    padding: 0;
    left: 0;
    cursor: pointer;
  }
  .navitems {
    display: none;
  } */
  /* .navmain {
    display: none;
  }
  .outerMain,
  .link,
  .dishes,
  .catogery {
    margin-left: none;
  } */
}
.close {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}
/* @media (max-width: 800px) {
  .innernav,
  .navmain {
    bottom: 0;
    width: 100vw;
    height: 2rem;
  }
  .innernav {
    display: flex;
    flex-direction: row;
  }
  .link-text {
    left: 0;
    bottom: calc(100% + 15px);
  }
} */
.push {
  position: absolute;
  padding: 10px;
  right: -25px;
  z-index: -1;
  /* border: 1px solid; */
  background-color: #ccd5ae;
  border-radius: 10px;
}
.push:hover {
  cursor: pointer;
  border-right: 0.5px solid;
}
.logout {
  display: flex;
  position: relative;
  top: -15px;
}

.aniIncre {
  /* background-color: blue; */
  animation: animate 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes animate {
  from {
    width: 50px;
  }
  to {
    width: 100px;
  }
}
.aniRev {
  animation: revanimate 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes revanimate {
  from {
    width: 100px;
  }
  to {
    width: 50px;
  }
}
.text {
  position: relative;
  right: -25px;
  top: -20px;
}

.links,
.navitems {
  display: flex;
  justify-content: center;
  align-items: center;
}
.links {
  color: #f39c12;
}
.navelementsText {
  /* border: 1px solid; */
  width: fit-content;
  padding: 10px;
  /* border-radius: 10px; */
  text-decoration: none;
  /* background-color: #180f2d; */
}
.active {
  border-bottom: 3px solid;
}
.dark {
  color: white;
}
.theme {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.logoimg {
  position: relative;
  width: 120px;
  border-radius: 50%;
  top: -12px;
  height: 100px;
}
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.Logtext {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .Logtext {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #dfceff;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #6a32db;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #6a32db;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #dfceff;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
.hamburger {
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  margin-right: 20px;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.oline {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked ~ .innerNavbar {
  display: flex;
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
.small {
  display: none;
}

@media screen and (max-width: 610px) {
  .navmain {
    display: flex;
    justify-content: space-between;
  }
}
